
.navbar-inverse {
    background-color: rgb(40, 50, 65);

}


nav {
  /*box-shadow: 0 2px 6px 0 rgb(253, 140, 1);*/
    box-shadow: 0 2px 6px 0 rgb(206, 25, 25);
}

body{
    margin-top: 50px;

}


th:hover {background-color: #90b9ee;}
div {
  margin: 5px;
}

html{
    margin: 0;
    padding: 0;
    height:100%
}
#page-container {
  position: relative;
  min-height: 100vh;
}

#content-wrap {
  padding-bottom: 2.5rem;
}

#footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 2.5rem;            /* Footer height */
}

#log{
  position: relative;
  background-image: url('../static/img/img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 1580px;
  width: 100%;
  padding-bottom: 100px;


}

#log{
  position: relative;
  background-image: url('../static/img/img.jpg');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  padding-bottom: 100px;

}

#hometext{
    color: white;
}




span{
    color: darkgrey
}

.navbar-inverse , .navbar-inverse .navbar-text {
    color: darkgrey;
    font-family: system-ui;
}

.navbar-brand {
    max-width:100px;
    position: absolute;
    top: 9px;
    left: 10px;
}

#search{
    top: 15%;
    left: 15%;
    display: block;
    width: 30%;
    length: 30%;
    background-color: #0d3e5f;
    box-shadow: 10px 5px 4px white;
    padding: 148px 58px;
    position: absolute;
    font-size: 46px;
    color: white;
    cursor: pointer;
    text-align: center;

}
#list{
    top: 15%;
    left: 55%;
    display: block;
    width: 30%;
    length: 30%;
    background-color: #0d3e5f;
    box-shadow: 10px 5px 4px white;
    padding: 148px 58px;
    position: absolute;
    font-size: 46px;
    color: white;
    cursor: pointer;
    text-align: center;
}


#searchsnp{
    top: 42%;
    left: 15%;
    display: block;
    width: 30%;
    length: 30%;
    background-color: #0d3e5f;
    box-shadow: 10px 5px 4px white;
    padding: 148px 58px;
    position: absolute;
    font-size: 46px;
    color: white;
    cursor: pointer;
    text-align: center;

}
#searchsnp2{
    top: 42%;
    left: 55%;
    display: block;
    width: 30%;
    length: 30%;
    background-color: #0d3e5f;
    box-shadow: 10px 5px 4px white;
    padding: 148px 58px;
    position: absolute;
    font-size: 46px;
    color: white;
    cursor: pointer;
    text-align: center;

}
#searchsnp3{
    top: 72%;
    left: 35%;
    display: block;
    width: 30%;
    length: 30%;
    background-color: #0d3e5f;
    box-shadow: 10px 5px 4px white;
    padding: 148px 58px;
    position: absolute;
    font-size: 46px;
    color: white;
    cursor: pointer;
    text-align: center;

}
