{% extends "snpapp/home.html" %}
{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>

{% block start %}
     <link rel="stylesheet" type="text/css" href="{% static "home.css" %}"/>
<head>
    <!--Adding Javascript and css-->
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.12.1/js/jquery.dataTables.min.js"></script>
    <link rel="stylesheet" href="https://cdn.datatables.net/1.12.1/css/jquery.dataTables.min.css">
    <!--Initializing dataTable-->
    <script>
        $(document).ready(function () {
        $('#phenotype').DataTable();
        });
    </script>
</head>

<body>
<br><br>
<div>
 <table id="phenotype" class="display" >
 <thead>
  <tr>
    <th>Disease/Trait</th>
    <th>Rsid</th>
    <th>Pubmed id</th>
    <th>Journal</th>
    <th>Study</th>
    <th>Date</th>
  </tr>
  </thead>
 <tbody>
    {% for post in posts %}
  <tr>
    <td>{{ post.disease_trait_id}}</td>
    <td><a href="/snp_selected/{{ post.snp_id }}/{{ post.reference_id }}">{{ post.snp_id}}</a></td>
    <td>{{ post.reference_id }}</td>
    <td>{{ post.journal}}</td>
    <td>{{ post.title}}</td>
    <td>{{ post.date }}</td>
  </tr>
     {% endfor %}
 </tbody>
</table>
</div>
</body>
{% endblock start %}